{% extends 'base.html' %}
{% block content %}

<!---start-wrap--->
<div class="wrap">
	
		<div class="content">
			<div class="single-page"><br />
				<div class="clear"> </div>
				
				<div class="product-info">
					<div class="product-image">
						<div class="clearfix" id="content" >

							<div class="clearfix">		
									<img src="{{album.image.url}}"  title="triumph"  style="border: 1px solid rgba(102, 102, 102, 0.2);">
								</a>
							</div>
							<br/>
							<div class="clearfix" >
							
							</div>
						</div>
					</div>
					<div class="product-price-info">
						<div class="product-catrgory-pagenation">
							<ul>
								<li><h3>Categories :</h3></li>
								<li class="active3"><a href="#">{{album.type}}</a></li>
								
							</ul>
						</div>
							<div class="product-value">
							<h4>Product-Complete Deatils With Value</h4>
							<ul>
								<li><h2>Price :</h2></li>
								<li><span>${{album.oldprice}}</span></li>
								<li><h5>${{album.newprice}}</h5></li>
								<li><a href="#">{{album.status}}</a></li>
							</ul>
							
						</div>
						<div class="product-shipping">
							<span>Shipping :</span>
							<p><lable>FREE</lable> - Flat Rate Courier - Delivery anywhere in </p>
							<div class="clear"> </div>
						</div>
						<div class="product-payments">
							<span>Payments: :</span>
							<p><lable>paypal</lable> - (Credit card, EMI, Debit card, Online Bank Transfer), PaisaPay COD  </p>
							<div class="clear"> </div>
						</div>
						<div class="product-description">
							<h3>Description :</h3>
							<p>{{album.desciption}}</p>
							<a href="#">Addcart</a>
						</div>
						<div class="product-share">
							<h3>share on:</h3>
							<ul>
								<li><a href="#"><img src="static/images/facebook.png" title="facebook" />Facebook</a></li>
								<li><a href="#"><img src="static/images/twitter.png" title="Twitter" />Twitter</a></li>
								<li><a href="#"><img src="static/images/rss.png" title="Rss" />Rss</a></li>
								<li><a href="#"><img src="static/images/gpluse.png" title="Googlepluse" />Google+</a></li>
							</ul>
						</div>
					</div>
					<div class="clear"> </div>
				</div>
				
			</div>
	</div>
	<div class="clear"> </div>
</div>	
<!---End-wrap--->
{% endblock content %}
