<!---start-header--->
<div class="wrap">

<div class="header">
	<!---start-top-header--->
	<div class="top-header">
		<div class="top-header-left">
			<ul>
				<li class="active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'specials' %}">Specials</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</div>
		<div class="top-header-right">
			<ul>
				<li><a href="#">CURRENCY:</a></li>
				<li>
					<select>
						<option>Dollar</option>
						<option>Euro</option>
						<option>Pound</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="clear"> </div>
	<div class="sub-header">
		<div class="logo">
			<a href="{% url 'index' %}"><img src="static/images/logo.png" title="logo" /></a>
		</div>
		<div class="sub-header-center">
			<form>
				<input type="text"><input type="submit"  value="search" />
			</form>
		</div>
		<div class="sub-header-right">
			<ul>
				<li><a href="#">log in</a></li>
				<li><a href="#">Your account</a></li>
				<li><a href="#">CART: (EMPTY) <img src="static/images/cart.png" title="cart" /></a></li>
			</ul>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="clear"> </div>
	<div class="top-nav">
		<ul>
			<li class="active1"><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'favorites' %}">Favorites</a></li>
			<li><a href="{% url 'artists' %}">Artists</a></li>
			<li><a href="{% url 'specials' %}">Specials</a></li>
			<li><a href="{% url 'contact' %}">Feedback</a></li>
			<div class="clear"> </div>
		</ul>
	</div>
	<!---end-top-header--->
	<!---End-header--->
	</div>
</div>